
/data

lsoa-data.csv
lsoa-data.xls
directory_finder.py
ttt.py
xgboostt.py
pas_data_ward_level/PAS_ward_level_FY_19_20.csv
pas_data_ward_level/PAS_ward_level_FY_17_18.csv
pas_data_ward_level/PAS_ward_level_FY_15_17.csv
embedded_data.csv
